/* You can add global styles to this file, and also import other style files */

/* Provide sufficient contrast against white background */
:root {
  --primary: #673ab7;
}

a {
  color: #673ab7;
}

code {
  color: #e01a76;
}

.btn-primary {
  color: #fff;
  background-color: #673ab7;
  border-color: #5c34a3;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
