:root {
    --primary: #673ab7;
    --primary-border: #5c34a3;
    --primary-hover: #603ab7;
}


a {
    color: var(--primary);
}
    a:hover {
        color: var(--primary);
    }

code {
    color: #808080;
}

.btn-primary,
.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: var(--primary);
    border-color: var(--primary-border);
}
.btn-primary:hover,
.nav-pills .nav-link.active, .nav-pills .show > .nav-link:hover {
    background-color: var(--primary-hover);
}

.bg-primary {
    background-color: var(--primary)!important;
    color: #fff;
}

.border-primary {
    border-color: var(--primary)!important;
}

.form-control:focus {
    border-color: var(--primary);
}